body {
    background-color:aquamarine
}


div {
    display: flex;
    justify-content: center;
    cursor: wait;
}

h1 {
    display: flex;
    color: rgb(255, 0, 0);
    justify-content: center;
    border-radius: 2rem;
    border-bottom: 5rem;
    cursor: grab;
    transition: backgroubd 1s;
    transform: translate(0) scale(0.5);
    
}

h1:hover,
h1:focus {
    color: black;
    transform: translateX(10px) 
    scale(1.2);
}

div:hover {
    color:blue;
}

